@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    @apply overflow-x-hidden;
  }
}

@layer components {
  .underline-link {
    position: relative;
    width: max-content;
    transition: color .3s ease-in;
  }

  .underline-link:hover {
    color: rgb(96, 165, 250);
  }

  .underline-link:hover::before {
    width: 100%;
  }

  .underline-link::before {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(96, 165, 250);
    transition: all .2s ease-in;
  }
}